@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&display=swap');

:root {
    /* --mustard-yellow: #96ceb4; */
    --mustard-yellow: #e4c63e;
    --light-grey: rgb(199, 199, 199);
    /* --cream-white: #96ceb4; */
    --cream-white: #F7F4E9;
    --white: white;
    --some-black: #1a1a1a;
    --some-grey: rgba(80, 79, 79, 0.234);
    --black: hsl(0, 4%, 5%);
    --blue : rgb(0, 187, 255);
    --sky-blue: rgb(62 139 213 / 70%)
}

* {
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    /* margin-bottom: 2rem; */
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

*::selection {
    background-color: var(--blue);
    color: var(--black);
}

html, body, main, section {
    scroll-behavior: smooth;
    background-color: var(--black);
    height: 100%;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--black);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--sky-blue);
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    background-color: var(--sky-blue);
    backdrop-filter: blur(2.3px);
    left: -120%;
    z-index: 1000;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header.header-on {
    left: 0%;
}

#user img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#user .name {
    font-size: clamp(1rem, 1.5vw, 1.8rem);
    color: var(--white);
}

#user .career {
    font-size: 13px;
    color: var(--light-grey);
    padding: 8px;
}

#nav-bar ul {
    list-style: none;

    padding: 3px, 5px;
    transition: all 0.4s;
}

#nav-bar ul li a{
    color: white;
    display: block;
    padding: 6px;
    width: 130px;
    margin: 10px 15px;
    font-size: 15px;
    border-radius: 15px 50px;
}

#nav-bar ul li a.active{
    background: var(--blue);
    color: var(--black)
}

#nav-bar ul li a:hover {
    background: var(--some-black);
    transform: scale(1.1);
    color: var(--white);
}


/* NAV-MENU */
/* `````````````````````````````````````````````````````````` */


/* MAIN */
/* ````````````````````````````````````````````````````````````` */

main {
    height: 100%;
    color: var(--white);
    display: grid;
    /* position: relative; */
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "h h h h h h h h h h h h"
    ". a a a a a a a a a a ."
    ". . c c c c c c c c . ."
    ". p p p p p p p p p p ."
    ". . s s s s s s s s . ."
    ". m m m m m m m m m m ."
    "f f f f f f f f f f f f";
}

main h1 {
    margin-top: 2rem;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid var(--blue);
    /* grid-column: 1 / -1; */
}

.logo {
    grid-area: h;
    /* grid-column: 2; */
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100px;
    /* width: 100px; */
}

#nav-menu {
    grid-area: h;
    position: fixed;
    /* grid-column: 27; */
    top: 35px;
    right: 150px;
    color: var(--white);
    /* border-radius: 50%; */
    cursor: pointer;
    font-size: 25px;
    /* padding: 10px 15px; */
    z-index: 1000;;
}

#about {
    /* position: relative; */
    grid-area: a;
    /* height: 600px; */
    display: grid;
    border-radius: 15px 50px;
    background-color: var(--some-grey);
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "ab ab ab ab"
    "co co rl rl"
    "ro ro rl rl";
    /* background-image: url("../images/redbat-look.png");
    background-size: 50em;
    background-repeat: no-repeat;
    background-position: right bottom;  */
}

#about h1 {
    grid-area: ab;
    height: 40px;
}

.content {
    float: left;
    grid-area: co;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

#about img{
    grid-area: rl;
    height: auto;
    width: 100%;
    
}

#btnDownload {
    grid-area: ro;
    grid-column: 2;
    grid-row: 2;
    /* position: absolute; */
    bottom: 0%;
    right: 0%;
    width: 145px;
    padding: 6px;
    margin: 10px 50px;
    font-size: 10px;
    border-radius: 15px 50px;
    background: var(--blue);
    /* background: #333; */
    align-items: center;
    color: white;
    cursor: pointer;
    /* float: left; */
}

#btnDownload i {
    top: 0;
    padding: 0.5rem;
    font-size: 1rem;
}

#career {
    grid-area: c;
    /* margin: 80px; */
    justify-content: center;
    align-items: center;
    margin: 6rem;
}


#career h6 {
    margin-top: 2.5rem;
    border-bottom: 0.3rem solid var(--blue);
}

#projects {
    grid-area: p;
    /* padding: 80px; */
    display: grid;
    border-radius: 15px 50px;
    background-color: var(--some-grey);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 150px;
    grid-template-areas:
    "pr pr pr pr pr pr pr pr"
    "wh wh wh wh mp mp mp mp";
}

#projects h1 {
    grid-area: pr;
    height: 40px;
}

#projects img {
    grid-area: wh;
    width: 60%;
    padding-left: 15%;
    /* justify-content: center; */
    height: auto;
    /* bottom: 0%; */
}

.my-work {
    grid-area: mp;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: 200px;
}

.my-work p {
    margin: 15px;
    padding: 3%;
    border: 0.2em solid var(--blue)
    
}

#skills {
    margin: 80px;
    grid-area: s;
}

#skills h1 {
    height: 40px;
}

#skills .skill-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content:center;
    place-items: center;
}

#skills .skill-box img{
    padding: 2rem;
    width: 11rem;
}

#contact {
    grid-area: m;
    display: grid;
    border-radius: 15px 50px;
    background-color: var(--some-grey);
    /* padding-bottom: 2rem; */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 150px;
    grid-template-areas:
    "cm cm cm cm cm cm cm cm"
    ". ic ic ic ic rla rla rla" 
    ". di di di di rla rla rla"; 
}

#contact h1 {
    /* grid-row: 1; */
    grid-column: 1 / -1;
    /* grid-area: cm; */
    height: 60px;
}

#contact .content2 {
    /* grid-column: 1 / 4; */
    /* padding: 20px; */
    margin-top: 2rem;
    grid-area: ic;
    justify-content: center;
    align-items: center;
}


/* #contact h2 p {

} */

.contact-box {
    grid-area: di;
    /* list-style: none; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: 70px;
    /* margin-left: 20px; */
}

.contact-box img {
    grid-area: ic;
    width: 40%;
    height: auto;
    float: center;
}

#contact img {
    /* grid-column: 5 / -1; */
    grid-area: rla;
    width: 60%;
    height: auto;
}

footer {
    grid-area: f;
    color: var(--light-grey);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    margin: 2rem;
}

/* media queries for responsiveness */
/* `````````````````````````````````````````````````````````` */

@media screen and (max-width:650px) {

    #user img {
        height: 120px;
        width: 120px;
    }

    .logo img {
        height: 90px;
    }

    main {
        grid-template-areas:
        "h h h h h h h h h h h h"
        ". a a a a a a a a a a ."
        ". c c c c c c c c c c ."
        ". p p p p p p p p p p ."
        ". s s s s s s s s s s ."
        ". m m m m m m m m m m .";
    }

    #about img {
        display: none;
    }

    #about {
        grid-template-areas:
        "ab ab ab ab"
        "co co co co";
    }

    #nav-menu {
        right: 70px;
    }

    #skills {
        margin: 3rem;
    }

    #skills .skill-box img {
        padding: 1.5rem;
        width: 9rem;
    }

    #skills .skill-box {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    #career {
        margin: 3rem;
    }

    #contact .lookaway img {
        display: none;
    }

}