@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&display=swap');

* {
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html, body, main, section {
    scroll-behavior: smooth;
}

html {
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;
}

body {
    background: #F7F4E9;
    position: absolute;
    /* padding-top: 15rem; */
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 30%;
    width: 100%;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow:column;
    text-align: center;
}

header .user img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 3px solid #F7F4E9;
}

header .user .name {
    font-size: 18px;
    color: white;
}

header .user .career {
    font-size: 13px;
    color: rgb(199, 199, 199);
    padding: 8px;
}

header .nav-bar ul {
    list-style: none;
    display: flex;
    padding: 3px, 5px;
    transition: all 0.4s;
}

header .nav-bar ul li a{
    color: white;
    display: block;
    padding: 6px;
    width: 130px;
    margin: 10px 15px;
    font-size: 15px;
    border-radius: 15px 50px;
}

header .nav-bar ul li a:hover {
    background: #e4c63e;
    transform: scale(1.1);
}

#nav-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #1a1a1a;
    background:#F7F4E9;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 15px;
    z-index: 1000;
    display: none;
}

h3 {
    color: black;
}

img {
    width: 100%;
}

main {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 1rem;
    scroll-snap-type: x proximity;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    padding: 6rem;
}

/* main img {
    position: auto;
    top: 5rem;
    padding: -50px;
    justify-content:center;
    width: 150vw;
    height: 150px;
    display: fixed;
} */

main section{
    flex: none;
    list-style: none;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    height: 70vh;
    scroll-snap-align: start;
} 


section p {
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 70px;
    z-index: 10;
}

#skills {
    position: relative;
    height: 100px;
    display: block;
}

#skills ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
    padding-right: 3rem;

    /* display:block; */
    /* width: 100%; */
    /* height:300px; */
    /* position: relative; */
    /* top: 30; */
    /* width: 100%; */
    /* left:4rem; */
    /* flex: none; */
    /* justify-content:space-between; */
    /* align-items: center; */
    /* width: 10vw; */
    /* width: 100vw; */
}

#skills ul .skill-box {
    width: 25rem;
    margin:1rem 0rem;
    padding-left: 4rem;
    padding-right: 4rem;
    /* border-left: 1rem solid #333; */
    position: relative;
}

#skills ul li {
    list-style: none;
}

#skills ul img{
    position: relative;
    /* width: 27rem; */
    /* margin :1rem 0rem; */
    padding-left: 5rem;
    padding-right: 7rem;
    /* border-left: 4rem; */
}

/* #skills ul img{
    height: 150px;
    width: 200px;
    padding: 0;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
    align-items: center;
} */

/* #contact img {
    position: fixed;
    display: flex;
    height: 200px;
    width: 250px;
    margin-left: 50px;
    margin-top: 250px;
    bottom: 50px;
    left: 50px;
    padding: 0 8em
} */

#contact ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
}

#contact ul .contact-box {
    width: 25rem;
    margin:1rem 0rem;
    padding-left: 4rem;
    padding-right: 4rem;
    /* border-left: 1rem solid #333; */
    position: relative;
}

#contact ul a img{
    position: relative;
}

/* media queries for responsiveness */
@media screen and (max-width:950px) {

    html{
        font-size: 80%;
        top:    10%;
    }

    section{
        padding:1rem 4rem;
    }

    

}
@media screen and (max-width:950px) {

    header {
        left: -120%;
        z-index: 1000;
        height: 100%;
        width: 350px;
    }
    
    #nav-menu {
        display: block;
    }

    header.header-on {
        left: 0%;
    }

    body {
        padding:0%;
    }
    header .nav-bar ul {
        display: block;
        margin: 50px;
    }
    header .user img {
        height: 200px;
        width: 200px;
    }

    header .nav-bar ul li a{
        width: 35vw;
    }
}



@media screen and (max-width:700px) {
    
    html {
        font-size: 100%;
    }
}

@media screen and (max-width:600px) {

    header {
        width: 45vw;
    }
    header .user img {
        height: 130px;
        width: 130px;
    }

    /* #skills ul .skill-box {
        width: 5rem;
    } */

     #skills ul img{
        width: 20rem;
        margin-left: -70px;  
    }
}
@media screen and (max-height:500px) and (orientation: landscape) {

    header {
        width: 35vw;
    }
    header .user img {
        height: 80px;
        width: 80px;
    }
    header .user .name {
        font-size: 15px;
        color: white;
    }
    
    header .user .career {
        font-size: 10px;
    }

    header .nav-bar ul{
        margin: 0px;
    }

    header .nav-bar ul li a{
        font-size: 13px;
        width: auto;
    }

   
}

#education {
    list-style: none;
    position: relative;
}

#education ul {
    list-style: none;
    /* position: relative; */
}

#btnDownload {
    position: absolute;
    /* top: 0%; */
    bottom: 0%;
    right: 0;
    /* width: 135px; */
    /* left: 0; */
    padding: 6px;
    margin: 10px 50px;
    align-items: center;
    background: #333;
    color: white;
    border-radius: 15px 50px;
    cursor: pointer;
    display: block;
    font-size: 10px;
}

#btnDownload i {
    top: 0;
    padding: 0.5rem;
    font-size: 1rem;
}

